// Bootstrap Global Settings in Project
$orange: #F7802A;
$blue: #266FDE;
$green: #49D0B0;
$yellow: #F1A411;
$indigo: #8E8ABD;
$red: #EA686D;
$white: #FFFFFF;
$dark: #2F3E77;
$purple: #5057DD;
$pink: #FFECEE;
$cyan: #46536A;
$teal: #111824;
$gray: #EFF4FA;

$min-contrast-ratio: 2.5;
$primary: $blue;
$secondary: $orange;
$danger: $red;
$success: $green;
$warning: $yellow;
$info: $teal;

$enable-shadows: true;
$enable-gradients: false;
$enable-responsive-font-sizes: true;
$body-bg: $gray;
$body-color: $dark;
$link-color: $dark;
$card-border-color: rgba($white, 0.125);
$card-bg: rgba($white, 1);
$table-bg: $white;
$list-group-bg: rgba($white, 1);
$modal-content-bg: rgba($white, 1);
$jumbotron-bg: rgba($white, 0.05);
$font-sizes: (
  1: 3.75rem,
  2: 2.5rem,
  3: 2rem,
  4: 1.5rem,
  5: 1.125rem,
  6: 0.875rem,
);
$enable-negative-margins: true;

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
}

$font-family-sans-serif: "Nunito", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.fw-medium {
  font-weight: 500;
}

.fw-extra-bold {
  font-weight: 800;
}
