// Global project structure settings
@import "~swiper/swiper.min.css";
@import "~swiper/css/navigation";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
}

body::-webkit-scrollbar {
  width: .375rem;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($color: $primary, $alpha: 0.3);
  border-radius: 1.25rem;
}

input::placeholder {
  color: #A79EB2 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: $white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba($color: $red, $alpha: .8);

  &::after {
    font-size: 1rem !important;
  }
}

