// Global project structure settings
@import "~swiper/swiper.min.css";
@import "~swiper/css/grid";
@import "~swiper/css/navigation";

.swiper-grid-column > .swiper-wrapper {
  flex-direction: row !important;
 }

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: $font-family-sans-serif;
}

body::-webkit-scrollbar {
  width: .375rem;
}

body::-webkit-scrollbar-track {
  background: none;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($color: $primary, $alpha: 0.3);
  border-radius: 1.25rem;
}

input::placeholder {
  color: #A79EB2 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: $white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba($color: $red, $alpha: .8);

  &::after {
    font-size: 1rem !important;
  }
}

// Types pokemons
.fogo {
  background-color: #F08030;
}

.agua {
  background-color: #6890F0;
}

.incomodar {
  background-color: #A8B820;
}

.eletrico {
  background-color: #F8D030;
}

.normal {
background-color: #A8A878;
}

.voo {
background-color: #A890F0;
}

.toxico {
background-color: #A040A0;
}

.grama {
background-color: #78C850;
}

.aco {
background-color: #B8B8D0;
}

.psiquico {
background-color: #F85888;
}
