<div
  class="w-100 d-flex flex-wrap justify-content-center home__hero_images--config mb-4 mt-sm-0"
>
  <img
    id="togepi"
    src="./assets/images/img-hero-togepi.png"
    title="🥚Pokémon Togepi"
    alt="Pokémon Togepi"
  />
  <img
    id="pikachu"
    src="./assets/images/img-hero-pikachu.png"
    title="⚡Pokémon Pikachu"
    alt="Pokémon Pikachu"
  />
  <img
    id="bulbasaur"
    src="./assets/images/img-hero-bulbasaur.png"
    title="☘️ Pokémon Bulbasaur"
    alt="Pokémon Bulbasaur"
  />
</div>
