.sidebar__container--config {
  display: grid;
  grid-template-columns: 1fr 17.5rem;
  z-index: 999;
  transition: right ease-in-out .2s;

  .sidebar__hero--container{
    height: 14.5rem;

    img {
      width: 55%;
      object-fit: contain;
    }
  }
}

.sidebar__container--on {
  right: 0;
}

.sidebar__container--off {
  right: -100%;
}
